In [1]:
import subprocess
from datetime import datetime
from IPython import get_ipython

# --- CONFIGURATION ---
NOTEBOOK_NAME = "Indexing_Cleaning.ipynb"
PLUGIN_NAME = "jupyterlab/4.0.0"
LANGUAGE = "Python"
# ----------------------

def log_to_wakatime():
    timestamp = str(datetime.utcnow().timestamp())
    result = subprocess.run([
        "wakatime-cli",
        "--entity", NOTEBOOK_NAME,
        "--entity-type", "file",
        "--plugin", PLUGIN_NAME,
        "--language", LANGUAGE,
        "--write",
        "--time", timestamp
    ], capture_output=True, text=True)

    if result.returncode != 0:
        print("❌ WakaTime CLI Error:")
        print("STDOUT:", result.stdout)
        print("STDERR:", result.stderr)
    else:
        print("✅ WakaTime heartbeat sent at", timestamp)

def on_cell_run(execution_info):
    log_to_wakatime()

# Clear broken old handlers (if rerunning)
ip = get_ipython()
for cb in list(ip.events.callbacks['pre_run_cell']):
    if cb.__name__ == "<lambda>":
        ip.events.unregister('pre_run_cell', cb)

ip.events.register('pre_run_cell', on_cell_run)

In [2]:
import pandas as pd

✅ WakaTime heartbeat sent at 1752411933.361445

In [3]:
df = pd.read_csv("data.csv")
print(df)

✅ WakaTime heartbeat sent at 1752411933.803626
    ID     Name  Age Gender  Marks    Subject       City
0  101    Alice   20      F     88       Math      Delhi
1  102      Bob   21      M     76    Physics     Mumbai
2  103  Charlie   22      M     93  Chemistry  Bangalore
3  104    Diana   20      F     85       Math    Chennai
4  105    Ethan   23      M     70    Biology       Pune
5  106    Fiona   21      F     90    Physics      Delhi
6  107   George   22      M     60       Math     Mumbai
7  108   Hannah   23      F     95  Chemistry  Hyderabad
8  109      Ian   20      M     55    Biology      Delhi
9  110     Jane   21      F     82    Physics    Kolkata

In [4]:
df = pd.read_csv("data.csv")
df.set_index("ID", inplace=True) # inplace=True modifies the DataFrame directly.
print(df)

✅ WakaTime heartbeat sent at 1752411933.849793
        Name  Age Gender  Marks    Subject       City
ID
101    Alice   20      F     88       Math      Delhi
102      Bob   21      M     76    Physics     Mumbai
103  Charlie   22      M     93  Chemistry  Bangalore
104    Diana   20      F     85       Math    Chennai
105    Ethan   23      M     70    Biology       Pune
106    Fiona   21      F     90    Physics      Delhi
107   George   22      M     60       Math     Mumbai
108   Hannah   23      F     95  Chemistry  Hyderabad
109      Ian   20      M     55    Biology      Delhi
110     Jane   21      F     82    Physics    Kolkata

In [9]:
# df = df. sort_values(by="Marks") # Ascending by Default
df = df.sort_values(by='Age', ascending=False) # Descending
print(df)

✅ WakaTime heartbeat sent at 1752414597.41447
        Name  Age Gender  Marks    Subject       City
ID
105    Ethan   23      M     70    Biology       Pune
108   Hannah   23      F     95  Chemistry  Hyderabad
107   George   22      M     60       Math     Mumbai
103  Charlie   22      M     93  Chemistry  Bangalore
102      Bob   21      M     76    Physics     Mumbai
110     Jane   21      F     82    Physics    Kolkata
106    Fiona   21      F     90    Physics      Delhi
109      Ian   20      M     55    Biology      Delhi
104    Diana   20      F     85       Math    Chennai
101    Alice   20      F     88       Math      Delhi