In [1]:
import subprocess
from datetime import datetime
from IPython import get_ipython

# --- CONFIGURATION ---
NOTEBOOK_NAME = "Practice_DF_Essentials.ipynb"
PLUGIN_NAME = "jupyterlab/4.0.0"
LANGUAGE = "Python"
# ----------------------

def log_to_wakatime():
    timestamp = str(datetime.utcnow().timestamp())
    result = subprocess.run([
        "wakatime-cli",
        "--entity", NOTEBOOK_NAME,
        "--entity-type", "file",
        "--plugin", PLUGIN_NAME,
        "--language", LANGUAGE,
        "--write",
        "--time", timestamp
    ], capture_output=True, text=True)

    if result.returncode != 0:
        print("❌ WakaTime CLI Error:")
        print("STDOUT:", result.stdout)
        print("STDERR:", result.stderr)
    else:
        print("✅ WakaTime heartbeat sent at", timestamp)

def on_cell_run(execution_info):
    log_to_wakatime()

# Clear broken old handlers (if rerunning)
ip = get_ipython()
for cb in list(ip.events.callbacks['pre_run_cell']):
    if cb.__name__ == "<lambda>":
        ip.events.unregister('pre_run_cell', cb)

ip.events.register('pre_run_cell', on_cell_run)

# Student Data Management System

## Tasks

1. Create a DataFrame with columns: `Name`, `Age`, `Gender`, `Marks`, `City`.

2. Add at least 5 student records.

3. Display the first 3 rows.

4. Display the last 2 rows.

5. Show the shape of the DataFrame.

6. Show summary statistics of the DataFrame.

7. Display the `Name` column.

8. Display `Name` and `Marks` columns.

9. Show students with marks greater than 85.

10. Show students from the city "Prayagraj".

11. Add a new column `Result` with values based on marks.

12. Convert the `Age` column to float.

13. Rename column `Marks` to `Score`.

14. Drop the column `City`.

15. Export the final DataFrame to a CSV file.

In [2]:
import pandas as pd

✅ WakaTime heartbeat sent at 1752334962.355334

In [3]:
df = pd.DataFrame(columns=["Name", "Age", "Gender", "Marks", "City"])
print(df)

✅ WakaTime heartbeat sent at 1752334962.695208
Empty DataFrame
Columns: [Name, Age, Gender, Marks, City]
Index: []

In [4]:
data=[
    {"Name":"Divyansh", "Age":20, "Gender":"M", "Marks":86, "City":"Prayagraj"},
    {"Name":"Swapnil", "Age":20, "Gender":"M", "Marks":80, "City":"Prayagraj"},
    {"Name":"Vaibhav", "Age":20, "Gender":"M", "Marks":81, "City":"Prayagraj"},
    {"Name":"Sauhard", "Age":20, "Gender":"M", "Marks":89, "City":"Rishikesh"},
    {"Name":"Manan", "Age":20, "Gender":"M", "Marks":82, "City":"Bharatpur"},
    {"Name":"Harsh", "Age":20, "Gender":"M", "Marks":81, "City":"Buxar"}
]

df = pd.concat([df,pd.DataFrame(data)], ignore_index=False) 
print(df)

✅ WakaTime heartbeat sent at 1752334962.7481
       Name Age Gender Marks       City
0  Divyansh  20      M    86  Prayagraj
1   Swapnil  20      M    80  Prayagraj
2   Vaibhav  20      M    81  Prayagraj
3   Sauhard  20      M    89  Rishikesh
4     Manan  20      M    82  Bharatpur
5     Harsh  20      M    81      Buxar

### ```ignore_index=True``` resets the index after adding rows to avoid duplicates and maintain clean sequential indexing

In [5]:
print("First 3 rows:\n", df.head(3))

✅ WakaTime heartbeat sent at 1752334962.801299
First 3 rows:
        Name Age Gender Marks       City
0  Divyansh  20      M    86  Prayagraj
1   Swapnil  20      M    80  Prayagraj
2   Vaibhav  20      M    81  Prayagraj

In [6]:
print("First 3 rows:\n", df.tail(2))

✅ WakaTime heartbeat sent at 1752334962.852009
First 3 rows:
     Name Age Gender Marks       City
4  Manan  20      M    82  Bharatpur
5  Harsh  20      M    81      Buxar

In [7]:
print("Shape\n", df.shape)

✅ WakaTime heartbeat sent at 1752334962.900744
Shape
 (6, 5)

In [8]:
print("Stats\n", df.describe())

✅ WakaTime heartbeat sent at 1752334962.948214
Stats
             Name  Age Gender  Marks       City
count          6    6      6      6          6
unique         6    1      1      5          4
top     Divyansh   20      M     81  Prayagraj
freq           1    6      6      2          3

In [9]:
print("Name Column:\n", df['Name'])

✅ WakaTime heartbeat sent at 1752334962.999756
Name Column:
 0    Divyansh
1     Swapnil
2     Vaibhav
3     Sauhard
4       Manan
5       Harsh
Name: Name, dtype: object

In [10]:
print("Name Column:\n", df[['Name', 'Marks']])

✅ WakaTime heartbeat sent at 1752334963.046975
Name Column:
        Name Marks
0  Divyansh    86
1   Swapnil    80
2   Vaibhav    81
3   Sauhard    89
4     Manan    82
5     Harsh    81

In [11]:
print("Name Column:\n", df[df['Marks'] > 85])

✅ WakaTime heartbeat sent at 1752334963.096225
Name Column:
        Name Age Gender Marks       City
0  Divyansh  20      M    86  Prayagraj
3   Sauhard  20      M    89  Rishikesh

In [12]:
print("Name Column:\n", df[df['City'] == "Prayagraj"])

✅ WakaTime heartbeat sent at 1752334963.147953
Name Column:
        Name Age Gender Marks       City
0  Divyansh  20      M    86  Prayagraj
1   Swapnil  20      M    80  Prayagraj
2   Vaibhav  20      M    81  Prayagraj

In [13]:
df['Result'] = ['Pass' if m >= 40 else 'Fail' for m in df['Marks']]
print(df)

✅ WakaTime heartbeat sent at 1752334963.19647
       Name Age Gender Marks       City Result
0  Divyansh  20      M    86  Prayagraj   Pass
1   Swapnil  20      M    80  Prayagraj   Pass
2   Vaibhav  20      M    81  Prayagraj   Pass
3   Sauhard  20      M    89  Rishikesh   Pass
4     Manan  20      M    82  Bharatpur   Pass
5     Harsh  20      M    81      Buxar   Pass

In [14]:
df['Age'] = df['Age'].astype(float)
print(df['Age'])

✅ WakaTime heartbeat sent at 1752334963.245578
0    20.0
1    20.0
2    20.0
3    20.0
4    20.0
5    20.0
Name: Age, dtype: float64

In [15]:
df.rename(columns={'Marks': 'Score'}, inplace=True)
print(df)

✅ WakaTime heartbeat sent at 1752334963.2945
       Name   Age Gender Score       City Result
0  Divyansh  20.0      M    86  Prayagraj   Pass
1   Swapnil  20.0      M    80  Prayagraj   Pass
2   Vaibhav  20.0      M    81  Prayagraj   Pass
3   Sauhard  20.0      M    89  Rishikesh   Pass
4     Manan  20.0      M    82  Bharatpur   Pass
5     Harsh  20.0      M    81      Buxar   Pass

In [16]:
df.drop('City', axis=1, inplace=True)
# If Assigning to df then like this
# df = df.drop('City', axis=1)

print(df)

✅ WakaTime heartbeat sent at 1752334963.344354
       Name   Age Gender Score Result
0  Divyansh  20.0      M    86   Pass
1   Swapnil  20.0      M    80   Pass
2   Vaibhav  20.0      M    81   Pass
3   Sauhard  20.0      M    89   Pass
4     Manan  20.0      M    82   Pass
5     Harsh  20.0      M    81   Pass

In [17]:
df.to_csv("Student Management Details.csv", index=False) # index=False in .to_csv() is used to exclude the index column from being written to the CSV file.

✅ WakaTime heartbeat sent at 1752334963.398173